h1 {
    background-color: rgb(233, 217, 217);
    font-size: 36px;
    color: black;
  }
  
  h2 {
    background-color: rgb(8, 213, 240);
    font-size: 30px;
    color: blue;
  }
  
  h3 {
    background-color: brown;
    font-size: 24px;
    color: white;
  }
  
  h4 {
    background-color: yellow;
    font-size: 18px;
    color: purple;
  }
  
  h5 {
    background-color: red;
    font-size: 14px;
    color: white;
  }
  
  h6 {
    background-color: orange;
    font-size: 12px;
    color: black;
  }
  